.upper_navbar {
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: black;
    color: white;
    align-items: center;
    &_container {
      max-width: 60%;
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      gap: 15px;
      font-size: 14px;
      a {
        color: inherit;
        text-decoration: underline;
        font-weight: 600;
      }
      &_select_div {
        padding-left: 30%;
        select{
            background-color: black;
            color: white;
            border: none;
            &:focus{
                border: none;
            }

        }
      }
    }
  }